#cloud-config
# DOCS - https://cloudinit.readthedocs.io/en/latest/topics/modules.html

runcmd:
  - aws --region ${ region } ec2 associate-address --allocation-id ${ allocation_id } --instance-id "$(curl http://169.254.169.254/latest/meta-data/instance-id)"
  - aws --region ${ region } s3 cp s3://${ bucket_name }/wg0.conf /etc/wireguard/wg0.conf
  - aws --region ${ region } secretsmanager get-secret-value --secret-id ${ secret_arn }
  - systemctl enable wg-quick@wg0
  - systemctl start wg-quick@wg0
