[Interface]
Address = ${ wg_address }
ListenPort = ${ wg_port}
PrivateKey = PRIVATE_KEY_SERVER
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o ens5 -j MASQUERADE; ip6tables -A FORWARD -i %i -j ACCEPT; ip6tables -A FORWARD -o %i -j ACCEPT; ip6tables -t nat -A POSTROUTING -o ens5 -j MASQUERADE;
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o ens5 -j MASQUERADE; ip6tables -D FORWARD -i %i -j ACCEPT; ip6tables -D FORWARD -o %i -j ACCEPT; ip6tables -t nat -D POSTROUTING -o ens5 -j MASQUERADE;

[Peer]
#Peer1 - Work Mac
PublicKey = ZSShllwpuJprgiDQ9XVzjQlj2h7Ugc5oKtzqMgGadiY=
AllowedIPs = 192.168.10.5/32
