[Unit]
Description=AdGuard Home: Network-level blocker
ConditionFileIsExecutable=/usr/local/bin/adguard
After=syslog.target network-online.target

[Service]
StartLimitInterval=5
StartLimitBurst=10

ExecStart=/usr/local/bin/adguard "-w" "/var/lib/adguard" "-c" "/var/lib/adguard/config.yaml" "-s" "run"

WorkingDirectory=/var/lib/adguard
EnvironmentFile=-/etc/sysconfig/adguard

StandardOutput=file:/var/log/adguard.out
StandardError=file:/var/log/adguard.err

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
