# https://learn.hashicorp.com/vault/operations/ops-deployment-guide#step-3-configure-systemd

[Unit]
Description=Vault Server
Documentation=https://www.vaultproject.io/docs

Requires=network-online.target
After=syslog.target network-online.target

ConditionFileNotEmpty={{ vault_config_dir }}/config.hcl
AssertFileIsExecutable={{ vault_bin_path }}
AssertPathExists={{ vault_config_dir }}

StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User={{ vault_name }}
Group={{ vault_name }}

ExecStart={{ vault_bin_path }} server -config={{ vault_config_dir }} > {{ vault_server_log_path }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT

StartLimitInterval=60
StartLimitBurst=3
Restart=on-failure
RestartSec=5
TimeoutStopSec=30

LimitNOFILE=65536
LimitMEMLOCK=infinity
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

NoNewPrivileges=true
SecureBits=keep-caps
ProtectSystem=full
PrivateTmp=true
ProtectHome=read-only
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
