[Unit]
Description=Cloudflared
Documentation=https://developers.cloudflare.com/argo-tunnel/
After=syslog.target network-online.target
AssertFileIsExecutable={{ cloudflared_bin_path }}
AssertPathExists={{ cloudflared_config_path }}

[Service]
Type=simple
User={{ cloudflared_name }}
Group={{ cloudflared_name }}

ExecStart={{ cloudflared_bin_path }} tunnel --config {{ cloudflared_config_path }} run
EnvironmentFile=-/etc/default/{{ cloudflared_name }}

WorkingDirectory={{ cloudflared_data_dir }}
ReadWritePaths={{ cloudflared_data_dir }} {{ cloudflared_config_path }} {{ cloudflared_log_path }}

KillSignal=SIGINT
TimeoutStopSec=30
Restart=always
RestartSec=10
WatchdogSec=0

AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
SecureBits=keep-caps
ProtectSystem=strict
PrivateTmp=true
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
