# https://github.com/AdguardTeam/AdGuardHome/wiki/Configuration#configuration-file

bind_host: "127.0.0.1"
bind_port: {{ adguard_port_web }}
users:
  - name: "{{ adguard_web_username }}"
    password: "{{ adguard_web_passhash }}"
language: ""
rlimit_nofile: 0
web_session_ttl: 720
dns:
  bind_host: "127.0.0.1"
  port: {{ adguard_port_dns }}
  statistics_interval: 90
  querylog_enabled: true
  querylog_interval: 90
  querylog_memsize: 0
  protection_enabled: true
  blocking_mode: "default"
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_response_ttl: 10
  ratelimit: 0
  ratelimit_whitelist: []
  refuse_any: true
  bootstrap_dns:
    - "1.1.1.1"
    - "1.0.0.1"
    - "2606:4700:4700::1111"
    - "2606:4700:4700::1001"
  all_servers: false
  edns_client_subnet: false
  aaaa_disabled: false
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts: []
  parental_block_host: "family-block.dns.adguard.com"
  safebrowsing_block_host: "standard-block.dns.adguard.com"
  cache_size: 4194304
  upstream_dns:
    - "https://cloudflare-dns.com/dns-query"
  filtering_enabled: true
  filters_update_interval: 12
  parental_enabled: false
  safesearch_enabled: false
  safebrowsing_enabled: false
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
  rewrites: []
  blocked_services: []
tls:
  enabled: false
  server_name: "{{ adguard_domain_main }}"
  force_https: false
  port_https: 443
  port_dns_over_tls: 853
  allow_unencrypted_doh: false
  strict_sni_check: false
  certificate_chain: ""
  private_key: ""
  certificate_path: ""
  private_key_path: ""
filters:
  - enabled: true
    url: "https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt"
    name: "AdGuard Simplified Domain Names filter"
    id: 1
  - enabled: false
    url: "https://adaway.org/hosts.txt"
    name: "AdAway"
    id: 2
  - enabled: false
    url: "https://hosts-file.net/ad_servers.txt"
    name: "hpHosts - Ad and Tracking servers only"
    id: 3
  - enabled: false
    url: "https://www.malwaredomainlist.com/hostslist/hosts.txt"
    name: "MalwareDomainList.com Hosts List"
    id: 4
whitelist_filters: []
user_rules: []
dhcp:
  enabled: false
  interface_name: ""
  gateway_ip: ""
  subnet_mask: ""
  range_start: ""
  range_end: ""
  lease_duration: 86400
  icmp_timeout_msec: 1000
clients: []
log_file: ""
verbose: false
schema_version: 6
