[WebService]
Origins = https://{{ cockpit_domain_main }} wss://{{ cockpit_domain_main }}{% for san in cockpit_domain_sans %} https://{{san}} wss://{{san}}{% endfor %}
ProtocolHeader = X-Forwarded-Proto
AllowUnencrypted=true
