[Unit]
Description=Traefik
Documentation=https://docs.traefik.io
After=syslog.target network-online.target
AssertFileIsExecutable={{ traefik_bin_path }}
AssertPathExists={{ traefik_config_path }}
AssertPathExists={{ traefik_acme_path }}

[Service]
Type=notify
User={{ traefik_name }}
Group={{ traefik_name }}

ExecStart={{ traefik_bin_path }} --configFile={{ traefik_config_path }}
EnvironmentFile=-/etc/default/{{ traefik_name }}

WorkingDirectory={{ traefik_data_dir }}
ReadWritePaths={{ traefik_dynamic_dir }} {{ traefik_acme_path }} {{ traefik_log_path }} {{ traefik_access_log_path }}

KillSignal=SIGINT
TimeoutStopSec=30
Restart=always
RestartSec=10
WatchdogSec=1s

AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
SecureBits=keep-caps
ProtectSystem=strict
PrivateTmp=true
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
