global:
  checkNewVersion: true
  sendAnonymousUsage: false

api:
  dashboard: true

entryPoints:
  dns:
    address: ":53/udp"
  web:
    address: ":80"
    proxyProtocol:
      trustedIPs:
        - "::1"
        - "127.0.0.1"
    forwardedHeaders:
      trustedIPs:
        - "::1"
        - "127.0.0.1"
    http:
      redirections:
        entryPoint:
          to: "webs"
          scheme: "https"
          permanent: true
  webs:
    address: ":443"
    proxyProtocol:
      trustedIPs:
        - "::1"
        - "127.0.0.1"
    forwardedHeaders:
      trustedIPs:
        - "::1"
        - "127.0.0.1"

providers:
  file:
    watch: true
    directory: "{{ traefik_dynamic_dir }}"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "sean@lingrino.com"
      storage: "{{ traefik_acme_path }}"
      dnsChallenge:
        provider: "cloudflare"

log:
  format: json
  filePath: "{{ traefik_log_path }}"
accessLog:
  format: json
  filePath: "{{ traefik_access_log_path }}"
